@model IEnumerable<Dealership2.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

<h2>Record transactions here</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfTransaction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service.ServiceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.Make)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfTransaction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service.ServiceType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle.Make)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransactionID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Details", "Details", new { id=item.TransactionID }, new { @class = "btn btn-success" })
            @Html.ActionLink("Delete", "Delete", new { id=item.TransactionID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
